h3 {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  color: var(--dark-grey-color);
  margin-bottom: 10px;
  text-transform: uppercase;
  text-align: center;
}
.main-features__icon {
  background-color: var(--background-team);
  display: flex;
  align-items: center;
  justify-content: center;

  margin-bottom: 30px;
  height: 120px;
  width: 100%;
}

.main-features__paragraf {
  line-height: 1.71;
  color: var(--light-grey-color);

  text-align: left;
}

@media screen and (min-width: 480px) {
  .main-features {
    display: flex;
    flex-direction: column;
    gap: 30px;
  }
  .main-features > li {
    width: 450px;
  }
}
@media screen and (min-width: 768px) {
  .main-features__icon {
    background-color: var(--background-team);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    margin-bottom: 30px;
    height: 120px;
  }
  h3 {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    color: var(--dark-grey-color);
    margin-bottom: 10px;
    text-transform: uppercase;
    text-align: left;
  }
  .main-features__paragraf {
    line-height: 1.71;
    color: var(--light-grey-color);

    text-align: left;
  }

  .main-features {
    display: grid;
    grid-template-columns: 354px 354px;
    grid-column-gap: 30px;
    grid-row-gap: 30px;
  }
  .main-features > li {
    width: 354px;
  }
}
@media screen and (min-width: 1200px) {
  .features {
    padding-bottom: 0;
  }

  .main-features {
    display: grid;
    grid-template-columns: 270px 270px 270px 270px;
    grid-row-gap: 30px;
  }

  .main-features__icon {
    background-color: var(--background-team);
    display: flex;
    align-items: center;
    justify-content: center;

    margin-bottom: 30px;
    height: 120px;
    width: 270px;
  }
  h3 {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    color: var(--dark-grey-color);
    margin-bottom: 10px;
    text-transform: uppercase;
    text-align: left;
  }
  .main-features__paragraf {
    line-height: 1.71;
    color: var(--light-grey-color);

    text-align: left;
    width: 270px;
  }
  .main-features li {
    width: 270px;
  }
}
