:root {
  --primary-font-family: "Roboto", sans-serif;
  --secondary-font-family: "Raleway", sans-serif;
  --background-h-f: #2f303a;
  --background-section: #f5f5f5;
  --background-team: #f5f4fa;
  --dark-grey-color: #212121;
  --light-grey-color: #757575;
  --white-color: #ffffff;
  --blue-color: #2196f3;
  --icons-color: #afb1b8;
}
